<% provide(:title, @director.full_name) %>

<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @director.fname %>
</p>

<p>
  <b>Last name:</b>
  <%= @director.lname %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
